{% extends 'base.html' %}

    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <H3 class="text-center" style="padding-top:50px; padding-bottom:25px;">Account Information</H3>
            </div>
        </div>
        <div class="container">
            <div class="form-group text-center">
                <form method="post">
                    {% csrf_token %}
                    {{ user_form.as_p}}
                    {{ profile_form.as_p}}
                    <button type="submit">Save changes</button>
                </form>
            </div>
        </div>
    </div>
    <div class="text-center" style="padding-top:50px;">
      {% if rides %}
        <ul class="list-group">
          {% for Ride in rides %}
              <button type="button" class="list-group-item list-group-item-action">
                Going to {{Ride.destination}}, {{Ride.destination_state}} on {{Ride.departure_date}}
              </button>
              <div class="content" style="display: none; padding-top:20px; padding-bottom: 20px">
                This ride is leaving from {{Ride.origin}}, {{Ride.origin_state}}. 
              </div>
          {% endfor %}
        </ul>
      {% else %}
        <p>You have not joined any rides.</p>
      {% endif %}
    </div>
    {% endblock %}



  <div class="footer-copyright text-center" style="font-size:10px; padding-top:50px;"> Copyright © 2019 | Dan Perkins, Will Lampert, Dong Lee, Eric Armstrong | University of Virginia | All Rights Reserved
  </div>
