{% load static %}
    <header>
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="/">Ride Share</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create_ride/">Create Rides</a>
            </li>
                {% block content1 %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                    <a class="nav-link" href="/accounts/myaccount">My Account</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                    <a class="nav-link" href="/accounts/login/">My Account</a>
                    </li>
                {% endif %}
                {% endblock %}
                
                {% block content %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/login/">{{user.username}}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/login/">Login</a>
                    </li>
                {% endif %}   
                {% endblock %}

              
          </ul>
        </div>
      </nav>
    </header>

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />

<body>
<div class="container">
    <h1 class="text-center" style="padding-top:50px; padding-bottom:25px;">Account Information</h1>
    <div class="form-group">
        <label for="usr">First Name:</label>
        <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
        <label for="usr">Last Name:</label>
        <input type="text" class="form-control" id="usr">
    </div>
    <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Email:</label>
          <div class="col-sm-10">
            <p class="form-control-static">someone@example.com</p>
          </div>
        </div>
    </form>
</div>


</body>


  <div class="footer-copyright text-center fixed-bottom py-3" style="font-size:10px"> Copyright © 2019 | Dan Perkins, Will Lampert, Dong Lee, Eric Armstrong | University of Virginia | All Rights Reserved
  </div>