{% extends 'base.html' %}

  {% block content %}

    <div class="d-md-flex h-md-100 align-items-top">

      <!-- Left Half -- Profile Information -->
      
      <div class="col-md-6 p-0 bg-indigo h-md-100">
          <div class="text-black d-md-flex align-items-left h-100 p-5 text-center justify-content-center">
              <div class="logoarea pt-5 pb-5">
                  <!-- first  half content here-->
                  <div class="container">
                    <div class="row">
                        <div class="col s12 m6 offset-m3">
                            <h2>Account Information</h2>
                        </div>
                    </div>
                    {% load crispy_forms_tags %}
                    <div class="container">
                        <div class="form-group text-left">
                            <form method="post">
                                {% csrf_token %}
                                {{ user_form|crispy}}
                                {{ profile_form|crispy}}
                                <button type="submit">Save changes</button>
                            </form>
                          </div>
                        </div>
                    </div>
              </div>
          </div>
      </div>
      
      <!-- Right Half -- Ride Information -->
      
      <div class="col-md-6 p-0 bg-white h-md-100 loginarea">
          <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
              <!-- Second half content here -->
              <div class="text-center" style="padding-top:50px;">
                <h2> List of Joined Rides: </h2>
                {% if user.profile.rides.all.count > 0 %}
                  <ul class="list-group">
                    {% for Ride in user.profile.rides.all %}
                        <button type="button" class="list-group-item list-group-item-action">
                          Ride from {{Ride.origin}} to {{Ride.destination}}, {{Ride.destination_state}} on {{Ride.departure_date}}
                        </button>
                        <div class="content" style="display: none; padding-top:20px; padding-bottom: 20px">
                            <div class="card mb-3">
                                    <div class="row no-gutters">
                                     <div class="col-md-4">
                                        <img style="width: 100%; height: 35vw; object-fit: cover;" src="https://c.stocksy.com/a/8WB500/z9/1235916.jpg?1567070555" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{Ride.owner.first_name}} {{Ride.owner.last_name}}'s Ride</h5>
                                            <p class="card-title">Email: {{Ride.owner.email}}</p>
                                            {% if Ride.owner.profile.phone_num %}
                                            <p class="card-title">Phone Number: {{Ride.owner.profile.phone_num}}</p>
                                            {% endif %}
                                            <p class="card-text">This ride is leaving <b>from {{Ride.origin}}, {{Ride.origin_state}}</b> and going <b>to {{Ride.destination}}, {{Ride.destination_state}}</b></p>
                                            <p class="card-text">There are currently <b>{{Ride.seats_available}} seat(s) available</b> {% if Ride.owner.profile.car %}in {{Ride.owner.first_name}} {{Ride.owner.last_name}}'s <b>{{Ride.owner.profile.car}}</b> {% endif %}</p>
                                            <p class="card-text">The driver is asking for <b>${{ Ride.asking_price }} from each rider</b></p>
                                            <p class="card-text">The following users are going: {% for user in Ride.passenger_list.all %} <a href="/accounts/{{ person.username }}/" style="text-decoration: none;">{{person.first_name}} {{person.last_name}}</a> <br> {% endfor %}</p>
                                            <a type="button" class="btn btn-primary" href="/accounts/{{ Ride.owner.username }}/">Driver Profile</a>
                                            <a type="button" class="btn btn-danger" name="joinRide" href="/{{Ride.id}}/0/">Leave Ride</a>
                                          </div>
                                        </div>
                                     </div>
                                </div>
                            </div>
                    {% endfor %}
                  </ul>
                {% else %}
                  <p>You have not joined any Rides</p>
                {% endif %}


                <h2>List of Created Rides:</h2>
                  <ul class="list-group">
                    {% if user.created_rides.all.count >= 1 %}
                    {% for Ride in user.created_rides.all %}
                        <button type="button" class="list-group-item list-group-item-action">
                         Drive from {{Ride.origin}} to {{Ride.destination}}, {{Ride.destination_state}} on {{Ride.departure_date}}
                        </button>
                        <div class="content" style="display: none; padding-top:20px; padding-bottom: 20px">
                            <div class="card mb-3">
                                    <div class="row no-gutters">
                                     <div class="col-md-4">
                                        <img style="width: 100%; height: 35vw; object-fit: cover;" src="https://c.stocksy.com/a/8WB500/z9/1235916.jpg?1567070555" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Your Drive</h5>
                                            <p class="card-title">Your Email: {{Ride.owner.email}}</p>
                                            {% if user.profile.phone_num %}
                                            <p class="card-title">Your Phone Number: {{user.profile.phone_num}}</p>
                                            {% endif %}
                                            <p class="card-text">You're driving <b>from {{Ride.origin}}, {{Ride.origin_state}} to {{Ride.destination}}, {{Ride.destination_state}}</b></p>
                                            <p class="card-text">There are currently <b>{{Ride.seats_available}} seat(s) available</b> {% if Ride.owner.profile.car %}in your <b>{{Ride.owner.profile.car}}</b> {% endif %}</p>
                                            <p class="card-text">You're asking for <b>${{ Ride.asking_price }} from each rider</b></p>
                                            <p class="card-text">The following users are going: <br> {% for person in Ride.passenger_list.all %} <a href="/accounts/{{ person.username }}/" style="text-decoration: none;">{{person.first_name}} {{person.last_name}}</a> <br> {% endfor %}
                                            </p>
                                            <a type="button" class="btn btn-danger" name="deleteRide" href="/{{Ride.id}}">Delete</a>
                                          </div>
                                        </div>
                                     </div>
                                </div>
                            </div>
                    {% endfor %}
                  </ul>
                  {% else %}
                  <p>You have not created any Rides</p>

                  {% endif %}


          </div>
      </div>
          
    </div>

    
    
    <script>
      var coll = document.getElementsByClassName("list-group-item list-group-item-action");
      var i;
    
      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }
      </script>

    {% endblock %}



  <div class="footer-copyright text-center" style="font-size:10px; padding-top:50px;"> Copyright © 2019 | Dan Perkins, Will Lampert, Dong Lee, Eric Armstrong | University of Virginia | All Rights Reserved
  </div>
