 <!doctype html>
{% load static %}


    <header>
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="/">Ride Share</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="..">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="..">Find Rides</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Create Rides</a>
            </li>
              {% block content1 %}
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="/accounts/myaccount">My Account</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/accounts/login/">My Account</a>
                </li>
              {% endif %}
              {% endblock %}

              {% block content %}
              {% if user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link" href="/accounts/login/">{{user.username}}</a>
                  </li>
              {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="/accounts/login/">Login</a>
                  </li>
              {% endif %}
              {% endblock %}
          </ul>
        </div>
      </nav>
    </header>

<body>
<div class="container">
    <h1 class="text-center" style="padding-top:50px; padding-bottom:25px;">Create a Ride</h1>
    <div class="text-center" style="padding-top:20px;">

       {% load crispy_forms_tags %}
        <form method="post" novalidate>
          {% csrf_token %}
          <div class="row">
            <div class="col-6">
              {{ form.origin|as_crispy_field }}
            </div>
            <div class="col-6">
               {{ form.destination|as_crispy_field }}
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="form-group ">
                <label class="control-label " for="date">
                  Date*
                </label>
                <input class="form-control" id="departure_date" name="departure_date" placeholder="MM/DD/YYYY" type="text" required>
              </div>
            </div>
            <div class="col-6">
              {{ form.seats_available|as_crispy_field }}
            </div>
          </div>
          <button type="submit" class="btn btn-success">Create Ride</button>
        </form>

    </div>
</div>
</body>

 <div class="footer-copyright text-center fixed-bottom py-3" style="font-size:10px"> 
 Copyright © 2019 | Dan Perkins, Will Lampert, Dong Lee, Eric Armstrong | University of Virginia | All Rights Reserved
  </div>



<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />


<!-- Extra JavaScript/CSS added manually in "Settings" tab -->
<!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<script>
    $(document).ready(function(){
        var date_input=$('input[name="departure_date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>