{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center" style="padding-top:50px; padding-bottom:25px;">Search for Rides</h1>
    <!-- Search Ride list -->
    <div class="text-center">
      <form action="{% url 'index' %}" method="get">
        <!-- Search Bar -->
        <input name="search" type="text" placeholder="Search...">
        <!-- Search Select -->
        <select name="search_choice">
          <option value="destination">Search by Destination</option>
          <option value="origin">Search by Origin</option>
        </select>
      </form>
      <!-- Clear Search Button -->
      <div style="padding-top: 10px">
        <a class="btn btn-primary" href=".." role="button">Clear Search</a>
      </div>
    </div>

    <div class="text-center" style="padding-top:50px;">
      {% if ride_list %}
        <ul class="list-group">
          {% for Ride in ride_list %}
              <button type="button" class="list-group-item list-group-item-action">
                Going to {{Ride.destination}}, {{Ride.destination_state}} on {{Ride.departure_date}}
              </button>
              <div class="content" style="display: none; padding-top:20px; padding-bottom: 20px">
                This ride is leaving from {{Ride.origin}}, {{Ride.origin_state}}. There are currently {{Ride.seats_available}} seats available.

            
                 {% for User in Ride.passenger_list.all %}
                 {{User}} is going.

                 {% endfor %}

        


                  {% if Ride.seats_available > 0 %}
                <button type="button" class="btn btn-primary" name="joinRide"  onclick="location.href={% url 'join_ride' ride_id=Ride.id%}">Join Ride</button>
                  {% endif %}
              </div>
          {% endfor %}
        </ul>
      {% else %}
        <p>No rides are available.</p>
      {% endif %}
    </div>
</div>

  <script>
  var coll = document.getElementsByClassName("list-group-item list-group-item-action");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>
{% endblock %}


